body {
	font-family: 'Quattrocento Sans', sans-serif;
	background-image: linear-gradient(
		to top,
		#ffffff,
		#fafafa,
		#f5f5f5,
		#f0f0f0,
		#ebebeb,
		#e6e6e6,
		#e0e0e0,
		#dbdbdb,
		#d3d3d3,
		#cbcbcb,
		#c4c4c4,
		#bcbcbc
	);
}
header {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 8vh;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: bolder;
	font-variant: small-caps;
	border-bottom: 0.1rem solid black;
	color: white;
	text-shadow: #000000 0.1rem 0.2rem 0.5rem;
}
main {
	width: 100vw;
	height: 86vh;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 6vh;
	padding-bottom: 1rem;
	padding-top: 1rem;
	text-align: center;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: bolder;
	border-top: 0.1rem solid black;
}
.container {
	width: 100vw;
	height: 100vh;
}
.encriptador {
	position: absolute;
	top: 18vh;
	left: 8vw;
}
.desencriptador {
	position: absolute;
	top: 18vh;
	right: 8vw;
}

fieldset {
	width: 40vw;
	border-top: 0.1rem solid black;
}

legend {
	font-size: 1.5rem;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 2rem;
}

label {
	display: block;
	font-size: 1rem;
	text-transform: lowercase;
	text-align: center;
	padding-bottom: 1rem;
}

textarea {
	width: 100%;
	text-transform: lowercase;
	text-align: center;
	color: black;
	font-size: 1.5rem;
}

.button {
	width: 100%;
	font-size: 1.5rem;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 1rem;
	padding-top: 1rem;
	border: none;
	background-color: #000000;
	color: #bcbcbc;
	margin-top: 1rem;
	margin-bottom: 4rem;
	border-radius: 5px;
	transition: 1000;
}
.button:hover {
	background-color: #bcbcbc;
	color: #000000;
	border: 0.1rem solid black;
}
#textoEncriptado,
#textoDesencriptado {
	width: 100%;
	height: 6rem;
	background: white;
	text-transform: lowercase;
	text-align: center;
	border: 1px solid gray;
	color: black;
	font-size: 1.5rem;
}

@media screen and (max-width: 550px) {
	header {
		height: fit-content;
	}
	main {
		height: fit-content;
		margin-bottom: 8rem;
	}
	footer {
		position: relative;
	}
	.container {
		position: relative;
		height: fit-content;
	}
	.encriptador {
		position: relative;
		top: 18vh;
		left: auto;
		margin: 0 auto;
	}
	.desencriptador {
		position: relative;
		top: 18vh;
		right: auto;
		margin: 0 auto;
	}
	fieldset {
		width: 80vw;
	}
}
