body {
	font-family: 'Quattrocento Sans', sans-serif;
	background-image: linear-gradient(
		to bottom,
		#36393f,
		#35373d,
		#34363b,
		#32343a,
		#313338,
		#333539,
		#35363b,
		#37383c,
		#3d3d40,
		#434345,
		#484849,
		#4e4e4e
	);
}
header {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 8vh;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: bolder;
	font-variant: small-caps;
	border-bottom: 0.1rem solid rgb(255, 255, 255);
	color: white;
}
main {
	width: 100vw;
	height: 86vh;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 6vh;
	padding-bottom: 1rem;
	padding-top: 1rem;
	text-align: center;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: lighter;
	border-top: 0.1rem solid rgb(255, 255, 255);
	color: rgb(255, 255, 255);
}
.container {
	width: 100vw;
	height: 100vh;
}
.encriptador {
	position: absolute;
	top: 18vh;
	left: 10vw;
}
fieldset {
	width: 80vw;
	border-top: 0.1rem solid rgb(255, 255, 255);
}

legend {
	font-size: 1.5rem;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 2rem;
	color: white;
}

label {
	display: block;
	font-size: 1rem;
	text-transform: lowercase;
	text-align: center;
	padding-bottom: 1rem;
	color: white;
}

.button {
	width: 100%;
	font-size: 1.5rem;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 1rem;
	padding-top: 1rem;
	border: none;
	background-color: #000000;
	color: #bcbcbc;
	margin-top: 1rem;
	margin-bottom: 4rem;
	border-radius: 5px;
	transition: 1000;
}
.button:hover {
	background-color: #bcbcbc;
	color: #000000;
	border: 0.1rem solid black;
}

#desencriptarTexto,
#encriptarTexto {
	width: 49.8%;
}

#resultado,
#inputArea {
	width: 100%;
	height: 10rem;
	background: white;
	text-transform: lowercase;
	text-align: center;
	border: 1px solid gray;
	color: black;
	font-size: 1.5rem;
	padding-top: 2rem;
}

@media screen and (max-width: 550px) {
	header {
		height: fit-content;
	}
	main {
		height: fit-content;
		margin-bottom: 8rem;
	}
	footer {
		position: relative;
	}
	.container {
		position: relative;
		height: fit-content;
	}
	.encriptador {
		position: relative;
		top: 18vh;
		left: auto;
		margin: 0 auto;
	}
	#desencriptarTexto,
	#encriptarTexto {
		font-size: 0.8rem;
		width: 49%;
	}
	fieldset {
		width: 80vw;
	}
}
